*{
	margin: 0;
	padding: 0;
}

.title{
	padding: 15px;
	text-align: center;

}

.container {
	display: grid;
	grid-template: repeat(4, 150px)/repeat(4, 130px);
	justify-content: space-around;
	gap: 4%;
	padding: 10px;
	box-shadow: 2px 2px 30px 2px rgb(15, 15, 14);
	user-select: none;
	background-image: url(./img/aniday.jpg);
	background-size: 110%;
}

.hidden{
	visibility: hidden;
}

.card {
	position: relative;
	perspective: 100px;
	transition: 0.7s;
	transform-style: preserve-3d;
}

.open {
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	transition: 0.7s;
}


.front, .back {
	position: absolute;
	width: 150px;
	height: 130px;
	backface-visibility: hidden;

}

.front {
	transform: rotateY(0deg);
}

.back {
	object-fit: contain;
	transform: rotateY(180deg);
}